[user]
	name = Christopher Lopes
	email = christopher.lopes@gmail.com
[alias]
	unstage = reset HEAD --
	last = log -1 HEAD
[color]
	ui = true
[merge]
	tool = splice
[mergetool "splice"]
	cmd = "gvim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
	trustExitCode = true
