[user]
	name = Christopher Lopes
	email = christopher.lopes@gmail.com
[github]
	user = ciwchris
	token = e2750f14b8428ec6421b93dde4f601c6
[achievement]
	upload = true
[alias]
	unstage = reset HEAD --
	last = log -1 HEAD
[color]
	ui = true
[merge]
	tool = splice
[mergetool "splice"]
	cmd = "gvim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
	trustExitCode = true
