# Ignore everything in .xmonad/ but the source file
.xmonad/*
!.xmonad/xmonad.hs

# Ignore irrelevant items in .bin
.bin/color-mode/current-color-mode
.bin/phantomjs
.bin/exercism

.lein/*
!.lein/profiles.clj

# Ignore irrelevant vim files
/.vim/tmp
/.vim/bundle/
